@import url("https://fonts.googleapis.com/css2?family=Red Hat Display&family=Orbitron:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Red Hat Display&family=Red Hat Display+Sans&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Lexend:wght@300&family=Manrope:wght@300&family=Monda&family=Overpass:wght@200&family=Red+Hat+Display&family=Spartan&display=swap');

.Home-container {
  width: 100vw;
  height: 2500px;
  background-image: url("../../../dist/stars.jpeg");
  background-size: contain;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  /* font-family: "Abel", sans-serif; */
  text-align: center;
}

.Home-backgroundOverlay {
  width: 100vw;
  height: 2500px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0)); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
}

.Home-title {
  font-size: 30px;
  width: 1000px;
  margin-left: calc(50vw - 500px);
  padding-top: 20vh;
  font-family: "Red Hat Display", sans-serif;
  /* font-family: "Abel", sans-serif; */
  text-shadow: 2px 6px rgb(21, 21, 21);
  animation: fadeIn 2s 1;
}
.Home-title span {
  font-size: 50px;
  padding: 5px;
}

.Home-subtitle {
  font-size: 30px;
  margin-top: 20px;
  font-style: italic;
}

.Home-introText {
  font-size: 20px;
  width: 800px;
  margin-left: calc(50vw - 400px);
  margin-top: 40px;
  text-shadow: 2px 2px rgb(21, 21, 21);
  animation: fadeIn 4s 1;
}

@keyframes fadeIn {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: white;
  }
}

.Home-buttonContainer {
  width: 150px;
  margin-top: 100px;
  margin-left: calc(50vw - 75px);
  /* animation: fadeIn 6s 1; */
}

@keyframes fadeIn2 {
  0% {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  100% {
    background-color: white;
    color: rgb(21, 21, 21);
    box-shadow: 2px 2px 2px 3px rgb(79, 79, 79);
  }
}

.Home-submitButton {
  background-color: white;
  color: rgb(21, 21, 21);
  padding: 20px;
  border-radius: 20px;
  /* font-family: "Abel", sans-serif; */
  font-family: "Red Hat Display", sans-serif;
  font-size: 25px;

  box-shadow: 2px 2px 2px 3px rgb(79, 79, 79);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  text-decoration: none;
  text-emphasis: none;
  animation: fadeIn2 2s 1;
}

.Home-submitButton:hover {
  color: rgb(186, 186, 186);
  background-color: rgb(21, 21, 21);
  cursor: pointer;
}

@keyframes pulse { 
  0% {
    background-color: white;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.646);
  }
  100% {
    background-color: white;
  }
}


@media (max-width: 1000px) {
  .Home-container {
    width: 100vw;
    height: 1700px;
    background-image: url("../../../dist/stars.jpeg");
    background-size: contain;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    /* font-family: "Abel", sans-serif; */
    text-align: center;
  }
  
  .Home-backgroundOverlay {
    width: 100vw;
    height: 1700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
  }
  
  .Home-title {
    text-align: center;
    font-size: 5vw;
    width: 80vw;
    margin-left: 10vw;
    padding-top: 15vh;
    font-family: "Red Hat Display", sans-serif;
    /* font-family: "Abel", sans-serif; */
    text-shadow: 2px 6px rgb(21, 21, 21);
    animation: fadeIn 2s 1;

  }

  .Home-subtitle {
    font-size: 5vw;
    margin-top: 20px;
    font-style: italic;
  }
  .Home-title span {
    font-size: 50px;
    padding: 5px;
  }
  
  .Home-introText {
    font-size: 15px;
    width: 80%;
    margin-left: 10vw;
    margin-top: 40px;
    text-shadow: 2px 2px rgb(21, 21, 21);
    animation: fadeIn 4s 1;
  }
  .Home-worldMap {
    position: relative;
    margin-top: 2vh;
    margin-left: calc(50vw - 270px );
    transform: scale(0.5, 0.5);
  }

  .Home-mapCaption {
    font-size: 15px;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 1vh;
    text-shadow: 2px 2px rgb(21, 21, 21);
    animation: fadeIn 4s 1;
  }

  .Home-poster {
    margin-top: 8vh;
  }

  
  
}

@media (min-width: 1000px) {
  .Home-worldMap {
    position: relative;
    margin-top: 200px;
    margin-left: 10vw;
    width: 80vw;
    transform: scale(1.5, 1.5);
  }

  
  .Home-mapCaption {
    font-size: 20px;
    width: 800px;
    margin-left: calc(50vw - 400px);
    margin-top: 100px;
    text-shadow: 2px 2px rgb(21, 21, 21);
    animation: fadeIn 4s 1;
  }
}

.map-selected {
  fill: rgb(225, 191, 0);
}

.map-unselected {
  fill: rgb(165, 146, 0);
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

.Home-poster {
  position: relative;
  transform: scale(0.7, 0.7);
  width: 100vw;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 3px rgba(65, 73, 123, 0.406);
  
}

.Home-poster img {
  z-index: -2;
}

.poster {
  width: 100vw;
}

