
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Lexend:wght@300&family=Manrope:wght@300&family=Monda&family=Overpass:wght@200&family=Red+Hat+Display&family=Spartan&display=swap');

.Mission-introText {
    font-size: 1.25em;
    line-height: 40px;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 40px;
    text-shadow: 2px 2px rgb(21, 21, 21);
    animation: fadeIn 4s 1;
    font-family: "Red Hat Display", sans-serif;
}

.Mission-introText b {
  line-height: 100px;
  font-size: 35px;
}

.Mission-introText p {
  margin-bottom: 25px;
  margin-top: 25px;
}

.Mission-title {
    font-size: 40px;
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 15vh;
    font-family: "Red Hat Display", sans-serif;
    text-shadow: 2px 4px rgb(21, 21, 21);
    animation: fadeIn 2s 1;
    margin-bottom: 70px;
  }

.Mission-container {
    width: 100vw;
    height: 1100px;
    background-image: url("../../../dist/stars.jpeg");
    background-size: contain;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    /* font-family: "Abel", sans-serif; */
    text-align: center;
    padding-bottom: 100px;
  }
  
  .Mission-backgroundOverlay {
    width: 100vw;
    height: 1100px;
    background-color: rgba(0, 0, 0, 0.30);
    padding-bottom: 100px;
  }

@media (max-width: 1000px) {
    .Mission-introText {
        font-size: 1em;
        width: 70vw;
        height: 1000px;
        margin-left: 15vw;
        margin-top: 40px;
        text-shadow: 2px 2px rgb(21, 21, 21);
        animation: fadeIn 4s 1;
    }
    
    .Mission-title {
        font-size: 40px;
        width: 80vw;
        margin-left: 10vw;
        padding-top: 15vh;
        font-family: "Red Hat Display", sans-serif;
        text-shadow: 2px 4px rgb(21, 21, 21);
        animation: fadeIn 2s 1;
      }

      .Mission-container {
        width: 100vw;
        height: 2500px;
        background-image: url("../../../dist/stars.jpeg");
        background-size: contain;
        color: white;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
        padding-bottom: 100px;
      }
      
      .Mission-backgroundOverlay {
        width: 100vw;
        min-height: 2500px;
        background-color: rgba(0, 0, 0, 0.30);
        padding-bottom: 100px;
      }
}
