@import url("https://fonts.googleapis.com/css2?family=Red Hat Display&family=Orbitron:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&family=Lexend:wght@300&family=Manrope:wght@300&family=Monda&family=Overpass:wght@200&family=Red+Hat+Display&family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');

.Submit-container {
  width: 100vw;
  height: 1450px;
  background-image: url("../../../dist/stars.jpeg");
  background-size: contain;
  color: white;
  font-family: "Red Hat Display", "sans-serif";
  text-align: center;
  padding-bottom: 100px;
}

.Submit-messagingText {
  text-align: left;
  margin-top: 5vh;
}

@media (max-width: 1000px) {
  .Submit-title {
    font-size: 30px;
    width: 80vw;
    margin-left: 10vw;
    padding-top: 15vh;
    font-family: "Red Hat Display", "sans-serif";
    /* font-family: "Orbitron", sans-serif; */
    text-shadow: 2px 4px rgb(21, 21, 21);
    animation: fadeIn 2s 1;
  }
  .Submit-introText {
    font-size: 15px;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    text-shadow: 2px 2px rgb(21, 21, 21);
  }
  
  .Submit-container {
    height: 295vh;
    position: relative;
    z-index: 0;
    font-size: 15px;
  }
  .Submit-backgroundOverlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 295vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
    padding-bottom: 100px;
    z-index: -5;
  }
  .Submit-inputSection {
    width: 80vw;
    margin-left: 10vw;
    padding-top: 10vh;
    animation: fadeIn3 2s 1;
  }
  .Submit-inputInfoLeft {
    display: flex;
    flex-direction: column;
    width: 80vw;
    /* margin-left: 10vw; */
  }
  input {
    margin-top: 80px;
    height: 12vh;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 2px 10px;
    font-family: "Red Hat Display";
  }
  textarea {
    margin-top: 10vh;
    height: 20vh;
    width: calc(80vw - 20px);
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 10px 10px;
    font-family: "Red Hat Display";
  }

  .Submit-dropdown {
    position: fixed;
    height: 10vh;
    width: 80vw;
    border-radius: 30px;
    color: rgb(125, 125, 125);
    margin-top: 10vh;
    /* margin-bottom: 1vh; */
    font-size: 13.5px;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    font-family: "Red Hat Display";
    text-align: left;
    
  }

  .Submit-dropdown input {
    height: 2vh;
    padding: 2px 10px;
  }

  .Submit-countryDisclaimer {
    margin-top: 5vh;
    font-size: 12px;
  }
  
  .Submit-countrySection {
    text-align: right;
  }

  .Submit-legalCheckbox {
    height: 15vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 80vw;
    font-size: 15px;
  }

  .Submit-inputInfoRight > input {
    margin-top: 10vh;
    width: calc(100% - 20px);
    height: 12vh;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 2px 10px;
    font-family: "Red Hat Display";
  }
  audio {
    width: 60vw;
    height: 5vh;
    opacity: 60%;
  }

  .checkbox {
    background-color: white;
  }

  .Submit-legalCheckbox > input {
    min-width: 10px;
  }

  .Submit-messagingText {
    text-align: left;
    margin-top: 10vh;
  }
}

/* @media (min-width: 1000px) {
  .Submit-container {
    height: 130vh;
    position: relative;
    z-index: 0;
    font-size: 15px;
  }
  .Submit-backgroundOverlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 130vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
    padding-bottom: 100px;
    z-index: -5;
  }
} */

@media (min-width: 1000px) {
  .Submit-container {
    height: 130vh;
  }
  .Submit-backgroundOverlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 130vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
    padding-bottom: 100px;
  }
  
  .Submit-title {
    font-size: 40px;;
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 15vh;
    font-family: "Red Hat Display", "sans-serif";
    /* font-family: "Orbitron", sans-serif; */
    text-shadow: 2px 4px rgb(21, 21, 21);
    animation: fadeIn 2s 1;
  }
  
  .Submit-introText {
    /* font-size: 15px; */
    width: 800px;
    margin-left: calc(50vw - 400px);
    margin-top: 40px;
    text-shadow: 2px 2px rgb(21, 21, 21);
  }
  
  .Submit-inputSection {
    /* display: flex;
    justify-content: space-evenly; */
    width: 80vw;
    margin-left: 25vw;
    padding-top: 20px;
    animation: fadeIn3 2s 1;
  }
  
  .Submit-inputInfoLeft {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 10vw;
  }
  
  .Submit-inputInfoLeft input {
    margin-top: 30px;
    height: 60px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 2px 10px;
    font-family: "Red Hat Display";
  }
  
  .Submit-inputInfoLeft .Submit-mediumField {
    margin-top: 30px;
    height: 60px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 10px 10px;
    font-family: "Red Hat Display";
  }
  
  .Submit-dropdown {
    height: 50px;
    width: 30vw;
    border-radius: 30px;
    color: rgb(125, 125, 125);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    font-family: "Red Hat Display";
    text-align: left;
  }

  .Submit-dropdown input {
    font-family: "Red Hat Display";
    color: black;
    height: 25px;
    padding: 2px 10px;
  }
  
  .Submit-legalCheckbox {
    height: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 50vw;
    font-size: 14px;
  }
  
  .Submit-countryDisclaimer {
    font-size: 8px;
  }
  
  .Submit-countrySection {
    text-align: right;
  }
  
  .Submit-inputInfoRight {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: 10vw;
    align-items: flex-start;
  }
  
  .Submit-inputInfoRight textarea {
    margin-top: 30px;
    height: 150px;
    width: calc(100% - 20px);
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 10px 10px;
    font-family: "Red Hat Display";
  }
  
  .Submit-inputInfoRight .Submit-mediumField {
    margin-top: 30px;
    height: 100px;
    width: calc(100% - 20px);
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 10px 10px;
    font-family: "Red Hat Display";
  }
  
  
  
  .Submit-inputInfoRight > input {
    margin-top: 30px;
    width: calc(100% - 20px);
    height: 60px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
    padding: 2px 10px;
    font-family: "Red Hat Display";
  }

  audio {
    width: 20vw;
    height: 5vh;
    opacity: 60%;
  }

}

@keyframes fadeIn3 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
  
.Submit-submitButton {
  animation: fadeIn3 4s 1;
  width: 150px;
  background-color: white;
  color: rgb(21, 21, 21);
  padding: 10px;
  border-radius: 20px;
  font-family: "Red Hat Display", "sans-serif";
  /* font-family: "Orbitron", sans-serif; */
  font-size: 20px;
  margin-top: 30px;
  box-shadow: 2px 2px 2px 3px rgb(79, 79, 79);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  margin-left: calc(50vw - 75px);
}

.Submit-submitButton:hover {
  color: white;
  background-color: rgb(21, 21, 21);
  cursor: pointer;
}

.Submit-notAcceptedWarning {
  color: red;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  width: 80vw;
  margin-left: 10vw;
}

.Submit-recordButton {
  background-color: rgba(255, 255, 255, 0.345);
  border-radius: 20px;
  padding: 10px;
  margin-top: 25px;
  box-shadow: 1px 1px 3px 1px rgb(189, 189, 189);
}

.Submit-legalCheckbox input {
  height: fit-content;
  margin-top: 0px;
  margin-right: 15px;
}

.Submit-legalCheckbox input:hover {
  cursor: pointer;
}



.Submit-recordButton:hover {
  cursor: pointer;
}

.Submit-recordButton img {
  height: 30px;
  width: 30px;
}

.Submit-audioSection {
  display: flex;
  align-items: center;
}

.Submit-audioPrompt {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 12px;
}


