.Team-title {
    font-size: 40px;
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 15vh;
    font-family: "Orbitron", sans-serif;
    text-shadow: 2px 4px rgb(21, 21, 21);
    animation: fadeIn 2s 1;
}