.Team-title {
    font-size: 40px;
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 15vh;
    font-family: "Red Hat Display", sans-serif;
    text-shadow: 2px 4px rgb(21, 21, 21);
    animation: fadeIn 2s 1;
}

.Team-subtitle {
    font-size: 18px;
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 8vh;
    font-family: "Red Hat Display", sans-serif;
    text-shadow: 2px 4px rgb(21, 21, 21);
    animation: fadeIn 2s 1;
}

.Team-container a {
    text-shadow: none;
    color: white;
}

.Team-container {
    width: 100vw;
    height: 3000px;
    background-image: url("../../../dist/stars.jpeg");
    background-size: contain;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    /* font-family: "Abel", sans-serif; */
    text-align: center;
  }
  
  .Team-backgroundOverlay {
    width: 100vw;
    height: 3000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
  }

.Team-section {
    padding-top: 60px;
    width: 40vw;
    margin-left: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    animation: fadeIn 2s 1;
    font-size: 15px;
}

.Team-section-one {
    padding-top: 60px;
    width: 40vw;
    margin-left: 30vw;
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 100px; */
    animation: fadeIn 2s 1;
    font-size: 15px;
}

.Team-section-three {
    padding-top: 60px;
    width: 60vw;
    margin-left: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    animation: fadeIn 2s 1;
    font-size: 1em;
}



@media (min-height: 800px) {
    .Team-container {
        width: 100vw;
        height: 3950px;
        background-image: url("../../../dist/stars.jpeg");
        background-size: contain;
        color: white;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
      }
      
      .Team-backgroundOverlay {
        width: 100vw;
        height: 3950px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
      }
}

@media (max-width: 1000px) {
    .Team-title {
        font-size: 40px;
        width: 80vw;
        margin-left: 10vw;
        padding-top: 15vh;
        font-family: "Red Hat Display", sans-serif;
        text-shadow: 2px 4px rgb(21, 21, 21);
        animation: fadeIn 2s 1;
    }
    .Team-section {
        padding-top: 60px;
        width: 80vw;
        margin-left: 10vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 100px;
        animation: fadeIn 2s 1;
        font-size: 1em;
    }

    .Team-section-one {
        padding-top: 60px;
        width: 80vw;
        margin-left: 10vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 100px;
        animation: fadeIn 2s 1;
        font-size: 1em;
    }

    .Team-section-three {
        padding-top: 60px;
        width: 80vw;
        margin-left: 10vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 100px;
        animation: fadeIn 2s 1;
        font-size: 1em;
    }
    .Team-container {
        width: 100vw;
        height: 5500px;
        background-image: url("../../../dist/stars.jpeg");
        background-size: contain;
        color: white;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
      }
      
      .Team-backgroundOverlay {
        width: 100vw;
        height: 5500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
      }
      .Team-section img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 10px;
        animation: fadeInImg 2s 1;
    }

    .Team-section-one img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 10px;
        animation: fadeInImg 2s 1;
    }

    .Team-section-three img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 10px;
        animation: fadeInImg 2s 1;
    }

    .Team-member {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Team-subtitle {
        font-size: 1em;
        width: 80vw;
        margin-left: 10vw;
    }
}

@media (max-width: 400px) {
    .Team-container {
        width: 100vw;
        height: 5700px;
        background-image: url("../../../dist/stars.jpeg");
        background-size: contain;
        color: white;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
      }
      
      .Team-backgroundOverlay {
        width: 100vw;
        height: 5700px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0));
      }
}

.Team-section img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    animation: fadeInImg 2s 1;
}

.Team-section-one img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    animation: fadeInImg 2s 1;
}

.Team-section-three img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    animation: fadeInImg 2s 1;
}

.Team-member-text {
    width: 220px;
}

.Team-member-text b {
    line-height: 30px;
    font-size: 20px;
}

.Team-member-text p {
    line-height: 15px;
}

@keyframes fadeInImg {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
} 

.Team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Team-member:hover {
    cursor: pointer;
}