.Terms-body {
    width: 70vw;
    margin-left: 15vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1em;
}

.Terms-body a {
    color: white;
}

.Terms-body br {
    line-height: 2vw;
}

.Terms-body h3 {
    color: white;
    margin-top: 50px;
}

.Terms-container {
    width: 100vw;
    height: 320vw;
    /* background-image: url("../../../dist/stars.jpeg"); */
    background-color: rgb(18, 18, 18);
    background-size: contain;
    color: white;
    font-family: "Red Hat Display", sans-serif;
    /* font-family: "Abel", sans-serif; */
    text-align: center;
  }
  
  .Terms-backgroundOverlay {
    width: 100vw;
    height: 320vw;
    background-color: rgba(0, 0, 0, 0.30);
  }

  @media (max-width: 1000px) {
    .Terms-container {
        width: 100vw;
        height: 6400px;
        /* min-height: 6500px; */
        /* background-image: url("../../../dist/stars.jpeg"); */
        background-size: contain;
        color: white;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
      }

      .Terms-body {
        width: 70vw;
        margin-left: 15vw;
        line-height: 5vw;
        text-align: left;
        font-size: 1em;
    }

    .Terms-body h3 {
      color: white;
      margin-top: 6vw;
  }
      
      .Terms-backgroundOverlay {
        width: 100vw;
        height: 6400px;
        /* min-height: 6500px; */
        background-color: rgba(0, 0, 0, 0.30);
      }
  }