@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');


.Terms-body {
    width: 70vw;
    margin-left: 15vw;
    line-height: 1.25em;
    text-align: left;
    font-size: 1em;
}

.Terms-title {
    font-size: 40px;
    width: 80vw;
    margin-left: 10vw;
    padding-top: 15vh;
    font-family: "Red Hat Display", sans-serif;
    /* text-shadow: 2px 4px rgb(21, 21, 21); */
    /* animation: fadeIn 2s 1; */
    margin-bottom: 70px;
}

.Terms-body a {
    color: rgb(79, 79, 79);
}

.Terms-body br {
    line-height: 2vw;
}


.Terms-header {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
  text-decoration: underline;
}

.Terms-container {
    width: 100vw;
    height: 3150px;
    /* background-image: url("../../../dist/stars.jpeg"); */
    background-color: rgb(232, 232, 232);
    background-size: contain;
    color: rgb(36, 36, 36);
    font-family: "Red Hat Display", sans-serif;
    /* font-family: "Abel", sans-serif; */
    text-align: center;
    animation: fadeBackground 2s 1;
  }


  @keyframes fadeBackground {
    0% {
      background-color:rgb(12, 29, 55);
    }
    100% {
      background-color: rgb(232, 232, 232);

    }
  }
  
  .Terms-backgroundOverlay {
    width: 100vw;
    height: 3150px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0)); */
  }

  @media (max-width: 1500px) {
    .Terms-container {
      width: 100vw;
      height: 4000px;
      /* min-height: 6500px; */
      /* background-image: url("../../../dist/stars.jpeg"); */
      background-size: contain;
      font-family: "Red Hat Display", sans-serif;
      /* font-family: "Abel", sans-serif; */
      text-align: center;
    }
    .Terms-backgroundOverlay {
      width: 100vw;
      height: 4000px;
      /* min-height: 6500px; */
    }
  }

  @media (max-width: 1000px) {
    .Terms-container {
        width: 100vw;
        height: 4500px;
        /* min-height: 6500px; */
        /* background-image: url("../../../dist/stars.jpeg"); */
        background-size: contain;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
      }

      .Terms-body {
        width: 70vw;
        margin-left: 15vw;
        line-height: 1.25em;
        text-align: left;
        font-size: 1em;
    }

      .Terms-body h3 {
        color: white;
        margin-top: 6vw;
    }
      
      .Terms-backgroundOverlay {
        width: 100vw;
        height: 4500px;
        /* min-height: 6500px; */
      }
  }


  @media (max-width: 700px) {
    .Terms-container {
        width: 100vw;
        height: 7000px;
        /* min-height: 6500px; */
        /* background-image: url("../../../dist/stars.jpeg"); */
        background-size: contain;
        font-family: "Red Hat Display", sans-serif;
        /* font-family: "Abel", sans-serif; */
        text-align: center;
      }

      .Terms-body {
        width: 70vw;
        margin-left: 15vw;
        line-height: 1.25em;
        text-align: left;
        font-size: 1em;
    }
      
      .Terms-backgroundOverlay {
        width: 100vw;
        height: 7000px;
        /* min-height: 6500px; */
      }
  }

  @media (max-width: 500px) {
    .Terms-container {
      width: 100vw;
      height: 6500px;
      /* min-height: 6500px; */
      /* background-image: url("../../../dist/stars.jpeg"); */
      background-size: contain;
      font-family: "Red Hat Display", sans-serif;
      /* font-family: "Abel", sans-serif; */
      text-align: center;
    }
    
    .Terms-backgroundOverlay {
      width: 100vw;
      height: 6500px;
      /* min-height: 6500px; */
    }
  }

  @media (max-width: 400px) {
    .Terms-container {
      width: 100vw;
      height: 6900px;
      /* min-height: 6500px; */
      /* background-image: url("../../../dist/stars.jpeg"); */
      background-size: contain;
      font-family: "Red Hat Display", sans-serif;
      /* font-family: "Abel", sans-serif; */
      text-align: center;
    }

    
    .Terms-backgroundOverlay {
      width: 100vw;
      height: 6900px;
      /* min-height: 6500px; */
    }
  }